* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
    padding: 20px 0;
}

header {
    background: #f2f2f2;
    padding: 2% 0;
}



/* --- fin header ----------------------------------------*/
.hero {
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
}
.portada {
   text-align: center;
    margin-top: 20%;
    
}
.portada h1 {
      color: #fff;
}
/* --- fin hero ----------------------------------------*/
.documental {
    margin: 80px 0 40px 0;
}
.documental h2 {
    text-align: center;
    padding: 30px 0;
}
/* --- fin HACKATHON  ----------------------------------------*/
.hackathon {
    background: yellow;
    padding: 40px 0;
}
/*---------------------fin  CONTACTO -----------------------*/
.contacto {
    margin: 80px 0 50px 0;
}
.contacto h3 {
    padding: 0 0 15px 10px;
    text-align: left;
}
.contacto p{
    margin: 0;
    padding: 0;
}
.contacto form {
    margin-top: 20px;
}
.contacto form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
/*--------------- fin FOOTER --------------------------*/
footer {
    background: #4697bc;
    padding: 20px 0 30px 0;
}
footer small {
    color: #fff;
}
#naranja {
    color: #edce23;
    font-size: 12px;
}

