* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
    padding: 20px 0;
}

header {
    background: #f2f2f2;
     padding-top: 2%;
   }

/* --- fin header ----------------------------------------*/
.hero {
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
    }
.portada {
   text-align: center;
    margin: 20% 0;
    }
.portada h1 {
      color: #fff;
}

nav li:hover {
    background: #a1e0db;
}


/* --- fin hero ----------------------------------------*/
.documental {
    margin: 5% 0 ;
}
.documental h2 {
    text-align: center;
    padding: 5% 0 5% 0;
}
/* --- fin documental ----------------------------------------*/
.hackathon {
    background: yellow;
    padding: 5% 0;
}
/*---------------------fin hackathon -----------------------*/
.contacto {
    margin: 5% 0 2% 0;
}
.contacto h3 {
    padding: 0 0 2% 3%;
    text-align: left;
}
.contacto p{
    margin: 0;
    padding: 0;
}
.contacto form {
    margin-top: 5%;
}
.contacto form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
/*--------------- fin contacto --------------------------*/
footer {
    background: #4697bc;
    padding: 2% 0;
}
footer small {
    color: #fff;
}
#naranja {
    color: #edce23;
    font-size: 12px;
}

